<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{site.name}} - Our mission is to provide cutting-edge technology and expert services that empower individuals, businesses, and communities to embrace sustainable energy solutions.</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Favicon -->
    <link href="{{site.logo.url}}" rel="icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
     
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@.css1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">


    <meta name="description" content=" {{site.dis}}">
<meta name="keywords" content="RCI Ltd, Engineering, Manufacturing, Industrial Solutions, Technology, Services">
<meta name="author" content="RCI Ltd">
<meta name="robots" content="index, follow">

<!-- Open Graph Meta Tags (for social media sharing) -->
<meta property="og:title" content="RCI Ltd - Innovative Industrial Solutions">
<meta property="og:description" content=" {{site.dis}}" />
<meta property="og:url" content="http://rciltd.net/" />
<meta property="og:image" content="https://img.freepik.com/free-photo/aerial-view-private-house-with-solar-panels-roof_181624-14677.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="RCI Ltd" />

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="RCI Ltd - Innovative Industrial Solutions">
<meta name="twitter:description" content="{{site.dis}}">
<meta name="twitter:image" content="https://img.freepik.com/free-photo/aerial-view-private-house-with-solar-panels-roof_181624-14677.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid">
<meta name="twitter:site" content="{{site.twiiterlink}}">
</head>

<body>
    <!-- contact_form.html -->
{% if messages %}
<div class="fixed top-0 right-0 mt-4 mr-4 space-y-2">
    {% for message in messages %}
        <div class="px-4 py-2 rounded-lg shadow-lg text-white bg-green-500  bg-red-500 relative transition-opacity duration-300" id="message-{{ forloop.counter }}">
            <!-- Close Button -->
            <button type="button" class="absolute top-0 right-0 p-1 text-white" onclick="closeMessage('message-{{ forloop.counter }}')">
                <span aria-hidden="true">&times;</span>
            </button>
            <!-- Message Content -->
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<script>
function closeMessage(id) {
    var message = document.getElementById(id);
    message.style.opacity = 0;
    setTimeout(function() {
        message.style.display = 'none';
    }, 300); // Wait for the fade-out transition to complete
}
</script>

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark p-0">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-map-marker-alt text-primary me-2"></small>
                    <small>{{site.Address}}</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <small class="far fa-clock text-primary me-2"></small>
                    <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-phone-alt text-primary me-2"></small>
                    <small>{{site.phone}}</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center mx-n2">
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href="{{site.facebooklink}}"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href="{{site.twiiterlink}}"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href="{{site.instergram}}"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-square btn-link rounded-0" href="{{site.instergram}}"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="/" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
            <h2 class="m-0 text-primary">{{site.name}}</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" onclick="document.querySelector('#sadsa').classList.toggle('max-md:hidden')"  data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" flex w-full justify-between max-md:hidden " id="sadsa">
            <div class="navbar-nav ms-auto p-4 p-lg-0 max-md:w-full">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/about" class="nav-item nav-link">About Us</a>
                <a href="/service" class="nav-item nav-link">Service</a>
                <a href="/project" class="nav-item nav-link">Project</a>
                <a href="/Policy" class="nav-item nav-link">Policy</a>
            
                <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
            <a href="/quote" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Get A Quote<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    
    <!-- Navbar End -->


<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'e24090048993e876af87e3d6879c881e0bf631e5';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>




    <script>
        const menuToggle = document.getElementById("menuToggle");
        const mobileMenu = document.getElementById("mobileMenu");
    
        menuToggle.addEventListener("click", () => {
            mobileMenu.classList.toggle("hidden");
        });
    </script>
    

{% block body %}
{% endblock body %}





















    

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-body footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Address</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Road 12 House 18 Trans-Ekulu Enugu.  </p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>Phone: +234 8034426724, 8028574031</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>{{site.email}}</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="/about/">About Us</a>
                    <a class="btn btn-link" href="/contact/">Contact Us</a>
                    <a class="btn btn-link" href="/service/">Our Services</a>
                    <a class="btn btn-link" href="/Policy/">Terms & Condition</a>
                    <a class="btn btn-link" href="/quote/">Support</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-4">Recent project</h5>
                    <div class="row g-2">
                        <div class="col-4">
                            <img class="img-fluid rounded" src="https://img.freepik.com/free-photo/solar-power-power-station_1387-61.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded" src="https://img.freepik.com/free-photo/solar-cell-farm-power-station-alternative-energy-from-sun_1150-4256.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded" src="https://t4.ftcdn.net/jpg/04/40/70/41/240_F_440704131_EFZAB3Dhv6TKhEoPbNM0K6OevFVHDkep.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded" src="{% static 's2.jpg' %}" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded" src="{% static 's1.jpg' %}" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded" src="{% static 's3.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="/">{{site.name}}</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                       <a href="{{site.domain}}">{{site.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  
    <script src="{% static 'lib/wow/wow.min.js'%}"></script>
    <script src="{% static 'lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js'%}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js'%}"></script>
</body>

</html>