{% extends './base.html' %} {% load static %} {% block body %}

<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="owl-carousel header-carousel position-relative">
    <div
      class="owl-carousel-item position-relative"
      data-dot="<img src='{% static 'img/carousel-1.jpg' %}'>"
    >
      <img class="img-fluid" src="{% static 'img/carousel-1.jpg'%}" alt="" />
      <div class="owl-carousel-inner">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <h1 class="display-2 text-white text-[260%] animated slideInDown">
                Powering West Africa for Over 14 Years and Pioneers Of Solar And
                Renewable Energy
              </h1>
              <p class="fs-5 fw-medium text-white text-[260%] mb-4 pb-3">
                {{site.name}} is an indigenous Solar energy EPC (Engineering
                Procurement and Construction) Company, for fourteen (14) years
                in Nigeria
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="owl-carousel-item position-relative"
      data-dot="<img src='{% static 'img/carousel-2.jpg'%}'>"
    >
      <img class="img-fluid" src="{% static 'img/carousel-2.jpg'%}" alt="" />
      <div class="owl-carousel-inner">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <h1 class="display-2 text-white animated text-[130%] slideInDown">
                Pioneers Of Solar And Renewable Energy
              </h1>
              <p class="fs-5 fw-medium text-white mb-4 pb-3 !text-[260%]">
                Solar panel installations can increase a property’s value by
                making it more energy-efficient and sustainable. Many buyers are
                looking for eco-friendly homes, so having solar panels can make
                a home more attractive in the real estate market.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="owl-carousel-item position-relative"
      data-dot="<img src='{% static 'img/carousel-3.jpg'%}'>"
    >
      <img class="img-fluid" src="{% static 'img/carousel-3.jpg'%}" alt="" />
      <div class="owl-carousel-inner">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <h1 class="display-2 text-white animated slideInDown">
                Energy Independence:
              </h1>
              <p class="fs-5 fw-medium text-white mb-4 pb-3">
                homeowners can become more energy-independent and less
                vulnerable to fluctuations in electricity prices
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel End -->

<!-- Feature Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
        <div class="d-flex align-items-center mb-4">
          <div class="btn-lg-square bg-primary rounded-circle me-3">
            <i class="fa fa-users text-white"></i>
          </div>
          <h1 class="mb-0" data-toggle="counter-up">189</h1>
        </div>
        <h5 class="mb-3">Happy Customers</h5>
        <span
          >hundreds of satisfied clients have benefited from our services</span
        >
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
        <div class="d-flex align-items-center mb-4">
          <div class="btn-lg-square bg-primary rounded-circle me-3">
            <i class="fa fa-check text-white"></i>
          </div>
          <h1 class="mb-0" data-toggle="counter-up">240</h1>
        </div>
        <h5 class="mb-3">Project Done</h5>
        <span
          >We have successfully delivered over 4,000 projects with high-quality
          results</span
        >
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
        <div class="d-flex align-items-center mb-4">
          <div class="btn-lg-square bg-primary rounded-circle me-3">
            <i class="fa fa-award text-white"></i>
          </div>
          <h1 class="mb-0" data-toggle="counter-up">3123</h1>
        </div>
        <h5 class="mb-3">Awards Won</h5>
        <span>
          Recognized for excellence, our team has earned numerous industry
          awards</span
        >
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
        <div class="d-flex align-items-center mb-4">
          <div class="btn-lg-square bg-primary rounded-circle me-3">
            <i class="fa fa-users-cog text-white"></i>
          </div>
          <h1 class="mb-0" data-toggle="counter-up">340</h1>
        </div>
        <h5 class="mb-3">Expert Workers</h5>
        <span
          >A dedicated team of skilled professionals is here to meet your
          needs</span
        >
      </div>
    </div>
  </div>
</div>
<!-- Feature Start -->

<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
  <div class="container about px-lg-0">
    <div class="row g-0 mx-lg-0">
      <div
        class="col-lg-6 ps-lg-0 wow fadeIn"
        data-wow-delay="0.1s"
        style="min-height: 400px"
      >
        <div class="position-relative h-100">
          <img
            class="position-absolute img-fluid w-100 h-100"
            src="https://img.freepik.com/premium-photo/hand-solar-panels-inspection-with-eco-friendly-power-electricity-supply-renewable-energy-with-sustainability-person-check-grid-photovoltaic-environment-quality-assurance-engineer_590464-216366.jpg?w=1060"
            style="object-fit: cover"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="p-lg-5 pe-lg-0">
          <h6 class="text-primary">About Us</h6>
          <h1 class="mb-4">
            25+ Years Experience In Solar & Renewable Energy Industry
          </h1>
          <p>
            We have been Africa's trusted partner in the provision of solar
            energe in Nigeria and Anies as a wide, Solar Force Nigeria is one of
            the most recognized Renewable Energy Company in Nigeria, established
            in 2007. We are dedicated to renewable energy and provide cutting
            edge ular jechnology to the pubic
          </p>
          <p>
            <i class="fa fa-check-circle text-primary me-3"></i>Our Solutions
            give Satisfaction and Value for Money
          </p>
          <p>
            <i class="fa fa-check-circle text-primary me-3"></i>Manufacture and
            matall sutting edge Renewable Energy Products Energy
          </p>
          <p>
            <i class="fa fa-check-circle text-primary me-3"></i>Our Products
            some with 12-30 Months Warranty
          </p>
          <p>
            <i class="fa fa-check-circle text-primary me-3"></i>Technology
            Transfer Job Training Women & Youth Empowerment within the community
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h6 class="text-primary">Our Services</h6>
      <h1 class="mb-4">We Are Pioneers In The World Of Renewable Energy</h1>
    </div>
    <div class="row g-4">
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded overflow-hidden">
          <img
            class="img-fluid"
            src="{% static 'img/img-600x400-1.jpg'%}"
            alt=""
          />
          <div class="position-relative p-4 pt-0">
            <div class="service-icon">
              <i class="fa fa-solar-panel fa-3x"></i>
            </div>
            <h4 class="mb-3">Solar Panels</h4>
            <p>
              Harness the power of the sun to generate clean, renewable energy.
              Solar panels provide an efficient solution for reducing energy
              costs and minimizing carbon footprint.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded overflow-hidden">
          <img
            class="img-fluid"
            src="{% static 'img/img-600x400-2.jpg'%}"
            alt=""
          />
          <div class="position-relative p-4 pt-0">
            <div class="service-icon">
              <i class="fa fa-wind fa-3x"></i>
            </div>
            <h4 class="mb-3">Wind Turbines</h4>
            <p>
              Capture the strength of the wind to produce electricity. Wind
              turbines are a sustainable and eco-friendly energy source, perfect
              for large-scale energy needs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded overflow-hidden">
          <img
            class="img-fluid"
            src="https://img.freepik.com/premium-photo/black-man-engineer-repair-solar-panel-roof-maintenance-industry-thinking-building-technician-screwdriver-tools-photovoltaic-tech-helmet-sustainable-renewable-energy_590464-213601.jpg?w=740"
            alt=""
          />
          <div class="position-relative p-4 pt-0">
            <div class="service-icon">
              <i class="fa fa-lightbulb fa-3x"></i>
            </div>
            <h4 class="mb-3">Hydropower Plants</h4>
            <p>
              Utilize water flow to generate power. Hydropower plants offer a
              reliable and environmentally friendly way to produce energy from
              natural water sources.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded overflow-hidden">
          <img
            class="img-fluid"
            src="https://img.freepik.com/premium-photo/black-man-hands-engineer-solar-panel-grid-construction-worker-technician-outdoor-businessman-renewable-energy-industrial-eco-friendly-panels-maintenance-employee-handyman_590464-142817.jpg?w=900"
            alt=""
          />
          <div class="position-relative p-4 pt-0">
            <div class="service-icon">
              <i class="fa fa-solar-panel fa-3x"></i>
            </div>
            <h4 class="mb-3">Solar Panels</h4>
            <p>
              Harnessing wind energy with turbines provides a sustainable and eco-friendly method of generating electricity from natural air currents.







            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded overflow-hidden">
          <img
            class="img-fluid"
            src="https://img.freepik.com/free-photo/wind-power-plant-solar-pannels-low-angle_23-2149352231.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid"
            alt=" Our wind turbines are designed to maximize energy production while
            preserving the environment. Perfect for renewable energy projects
            on a larger scale."
          />
          <div class="position-relative p-4 pt-0">
            <div class="service-icon">
              <i class="fa fa-wind fa-3x"></i>
            </div>
            <h4 class="mb-3">Wind Turbines</h4>
            <p>
              Our wind turbines are designed to maximize energy production while
              preserving the environment. Perfect for renewable energy projects
              on a larger scale.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded overflow-hidden">
          <img
            class="img-fluid"
            src="https://img.freepik.com/premium-photo/close-up-woman-touching-solar-panels-roof_1221914-9602.jpg?ga=GA1.1.753374989.1717678999"
            alt=""
          />
          <div class="position-relative p-4 pt-0">
            <div class="service-icon">
              <i class="fa fa-lightbulb fa-3x"></i>
            </div>
            <h4 class="mb-3">Hydropower Plants</h4>
            <p>
              Our hydropower solutions use the energy of flowing water to create
              a dependable power source, enhancing sustainability in various
              industries.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Feature Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
  <div class="container feature px-lg-0">
    <div class="row g-0 mx-lg-0">
      <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="p-lg-5 ps-lg-0">
          <h6 class="text-primary">Why Choose Us!</h6>
          <h1 class="mb-4">Complete Commercial & Residential Solar Systems</h1>
          <p class="mb-4 pb-2">
            We specialize in providing comprehensive solar solutions tailored to
            both commercial and residential needs. Our expertise ensures that
            you receive the highest quality systems designed for maximum
            efficiency and sustainability.
          </p>
          <div class="row g-4">
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div class="btn-lg-square bg-primary rounded-circle">
                  <i class="fa fa-check text-white"></i>
                </div>
                <div class="ms-4">
                  <p class="mb-0">Quality</p>
                  <h5 class="mb-0">Services</h5>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div class="btn-lg-square bg-primary rounded-circle">
                  <i class="fa fa-user-check text-white"></i>
                </div>
                <div class="ms-4">
                  <p class="mb-0">Expert</p>
                  <h5 class="mb-0">Workers</h5>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div class="btn-lg-square bg-primary rounded-circle">
                  <i class="fa fa-drafting-compass text-white"></i>
                </div>
                <div class="ms-4">
                  <p class="mb-0">Free</p>
                  <h5 class="mb-0">Consultation</h5>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex align-items-center">
                <div class="btn-lg-square bg-primary rounded-circle">
                  <i class="fa fa-headphones text-white"></i>
                </div>
                <div class="ms-4">
                  <p class="mb-0">Customer</p>
                  <h5 class="mb-0">Support</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 pe-lg-0 wow fadeIn"
        data-wow-delay="0.5s"
        style="min-height: 400px"
      >
        <div class="position-relative h-100">
          <img
            class="position-absolute img-fluid w-100 h-100"
            src="https://img.freepik.com/premium-photo/worker-gloves-cleaning-dust-from-solar-panel_945447-3528.jpg?ga=GA1.1.753374989.1717678999"
            style="object-fit: cover"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature End -->

<!-- Projects Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h6 class="text-primary">Our Projects</h6>
      <h1 class="mb-4">Visit Our Latest Solar And Renewable Energy Projects</h1>
    </div>
    <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
      <div class="col-12 text-center">
        <ul class="list-inline mb-5" id="portfolio-flters">
          <li class="mx-2 active" data-filter="*">All</li>
          <li class="mx-2" data-filter=".first">Solar Panels</li>
          <li class="mx-2" data-filter=".second">Wind Turbines</li>
          <li class="mx-2" data-filter=".third">Hydropower Plants</li>
        </ul>
      </div>
    </div>
    <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.5s">
      <div class="col-lg-4 col-md-6 portfolio-item first">
        <div class="portfolio-img rounded overflow-hidden">
          <img
            class="img-fluid"
            src="{% static 'img/img-600x400-6.jpg'%}"
            alt=""
          />
          <div class="portfolio-btn">
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href="{% static 'img/img-600x400-6.jpg'%}"
              data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href=""
              ><i class="fa fa-link"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Solar Panels</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">
            Our mission is to revolutionize the future with cutting-edge renewable energy technologies.
          </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item second">
        <div class="portfolio-img rounded overflow-hidden">
          <img
            class="img-fluid"
            src="https://img.freepik.com/premium-photo/engineer-charge-solar-panel-installation-installation-solar-energy_1214049-114.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid"
            alt=""
          />
          <div class="portfolio-btn">
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href="https://img.freepik.com/premium-photo/engineer-charge-solar-panel-installation-installation-solar-energy_1214049-114.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid"
              data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href=""
              ><i class="fa fa-link"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Wind Turbines</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">
            We lead the way in advancing sustainable energy solutions through innovation and expertise.
          </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item third">
        <div class="portfolio-img rounded overflow-hidden">
          <img
            class="img-fluid"
            src="https://img.freepik.com/free-photo/solar-photovoltaic-panels-station-checks-with-tablet-computer_1150-18191.jpg?ga=GA1.1.753374989.1717678999"
            alt=""
          />
          <div class="portfolio-btn">
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href="https://img.freepik.com/free-photo/solar-photovoltaic-panels-station-checks-with-tablet-computer_1150-18191.jpg?ga=GA1.1.753374989.1717678999"
              data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href=""
              ><i class="fa fa-link"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Hydropower Plants</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">
            We are committed to driving progress in the renewable energy sector with unmatched dedication.
          </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item first">
        <div class="portfolio-img rounded overflow-hidden">
          <img
            class="img-fluid"
            src="https://media.istockphoto.com/id/1222813535/photo/male-worker-repairing-photovoltaic-solar-panel.jpg?b=1&s=612x612&w=0&k=20&c=QiTquPLYteP0p-2WFnU17w7Tmd8VjO6xHU2-980gNmU="
            alt=""
          />
          <div class="portfolio-btn">
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href="https://media.istockphoto.com/id/1222813535/photo/male-worker-repairing-photovoltaic-solar-panel.jpg?b=1&s=612x612&w=0&k=20&c=QiTquPLYteP0p-2WFnU17w7Tmd8VjO6xHU2-980gNmU="
              data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href=""
              ><i class="fa fa-link"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Solar Panels</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">
            Empowering communities worldwide, we set new standards in the solar energy industry.
          </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item second">
        <div class="portfolio-img rounded overflow-hidden">
          <img
            class="img-fluid"
            src="https://img.freepik.com/premium-photo/remote-renewable-energy-setup-featuring-solar-panels-wind-turbines-transparent-white-background_947814-233453.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid"
            alt=""
          />
          <div class="portfolio-btn">
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href="https://img.freepik.com/premium-photo/remote-renewable-energy-setup-featuring-solar-panels-wind-turbines-transparent-white-background_947814-233453.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid"
              data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href=""
              ><i class="fa fa-link"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Wind Turbines</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">
            As trailblazers in solar power, we are shaping a cleaner and greener tomorrow.
          </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item third">
        <div class="portfolio-img rounded overflow-hidden">
          <img
            class="img-fluid"
            src="{% static 'img/img-600x400-1.jpg'%}"
            alt=""
          />
          <div class="portfolio-btn">
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href="{% static 'img/img-600x400-1.jpg'%}"
              data-lightbox="portfolio"
              ><i class="fa fa-eye"></i
            ></a>
            <a
              class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
              href=""
              ><i class="fa fa-link"></i
            ></a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-primary mb-0">Hydropower Plants</p>
          <hr class="text-primary w-25 my-2" />
          <h5 class="lh-base">
            We Are pioneers of solar & renewable energy industry
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Projects End -->

<!-- Quote Start -->

<!-- Quote End -->
{% include 'quates.html' %}

<!-- Team Start -->
{% include 'tea.html' %}

<!-- Team End -->

<!-- Testimonial Start -->

{% include 'testi.html' %}
<!-- Testimonial End -->

{% endblock body %}
