


{% load static %}

<div class="container-xxl py-5">
  <div class="container">
      <div
          class="text-center mx-auto mb-5"
          style="max-width: 600px"
      >
          <h6 class="text-primary">Our Services</h6>
          <h1 class="mb-4">We Are Pioneers In The World Of Renewable Energy</h1>
      </div>
      <div class="row g-4">
          <div class="col-md-6 col-lg-4">
              <div class="service-item rounded overflow-hidden">
                  <img
                      class="img-fluid"
                      src="{% static 'img/img-600x400-1.jpg' %}"
                      alt="Solar Panels"
                  />
                  <div class="position-relative p-4 pt-0">
                      <div class="service-icon">
                          <i class="fa fa-solar-panel fa-3x"></i>
                      </div>
                      <h4 class="mb-3">Solar Panels</h4>
                      <p>
                          Harness the power of the sun to generate clean, renewable energy. Solar panels provide an efficient solution for reducing energy costs and minimizing carbon footprint.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="service-item rounded overflow-hidden">
                  <img
                      class="img-fluid"
                      src="{% static 'img/img-600x400-2.jpg' %}"
                      alt="Wind Turbines"
                  />
                  <div class="position-relative p-4 pt-0">
                      <div class="service-icon">
                          <i class="fa fa-wind fa-3x"></i>
                      </div>
                      <h4 class="mb-3">Wind Turbines</h4>
                      <p>
                          Capture the strength of the wind to produce electricity. Wind turbines are a sustainable and eco-friendly energy source, perfect for large-scale energy needs.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="service-item rounded overflow-hidden">
                  <img
                      class="img-fluid"
                      src="https://img.freepik.com/premium-photo/black-man-engineer-repair-solar-panel-roof-maintenance-industry-thinking-building-technician-screwdriver-tools-photovoltaic-tech-helmet-sustainable-renewable-energy_590464-213601.jpg?w=740"
                      alt="Hydropower Plants"
                  />
                  <div class="position-relative p-4 pt-0">
                      <div class="service-icon">
                          <i class="fa fa-lightbulb fa-3x"></i>
                      </div>
                      <h4 class="mb-3">Hydropower Plants</h4>
                      <p>
                          Utilize water flow to generate power. Hydropower plants offer a reliable and environmentally friendly way to produce energy from natural water sources.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="service-item rounded overflow-hidden">
                  <img
                      class="img-fluid"
                      src="https://img.freepik.com/premium-photo/black-man-hands-engineer-solar-panel-grid-construction-worker-technician-outdoor-businessman-renewable-energy-industrial-eco-friendly-panels-maintenance-employee-handyman_590464-142817.jpg?w=900"
                      alt="Solar Panels"
                  />
                  <div class="position-relative p-4 pt-0">
                      <div class="service-icon">
                          <i class="fa fa-solar-panel fa-3x"></i>
                      </div>
                      <h4 class="mb-3">Solar Panels</h4>
                      <p>
                          Harnessing wind energy with turbines provides a sustainable and eco-friendly method of generating electricity from natural air currents.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="service-item rounded overflow-hidden">
                  <img
                      class="img-fluid"
                      src="https://img.freepik.com/free-photo/wind-power-plant-solar-pannels-low-angle_23-2149352231.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid"
                      alt="Wind Turbines"
                  />
                  <div class="position-relative p-4 pt-0">
                      <div class="service-icon">
                          <i class="fa fa-wind fa-3x"></i>
                      </div>
                      <h4 class="mb-3">Wind Turbines</h4>
                      <p>
                          Our wind turbines are designed to maximize energy production while preserving the environment. Perfect for renewable energy projects on a larger scale.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="service-item rounded overflow-hidden">
                  <img
                      class="img-fluid"
                      src="https://img.freepik.com/premium-photo/close-up-woman-touching-solar-panels-roof_1221914-9602.jpg?ga=GA1.1.753374989.1717678999"
                      alt="Hydropower Plants"
                  />
                  <div class="position-relative p-4 pt-0">
                      <div class="service-icon">
                          <i class="fa fa-lightbulb fa-3x"></i>
                      </div>
                      <h4 class="mb-3">Hydropower Plants</h4>
                      <p>
                          Our hydropower solutions use the energy of flowing water to create a dependable power source, enhancing sustainability in various industries.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
