

{% load static %}


<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-primary">Recent Project</h6>
            <p>We take pride in delivering high-quality solar energy solutions tailored to meet the diverse needs of our clients. Below are some of our recent projects, showcasing our expertise in solar panel supply, installation, and energy management:</p>
        </div>
       <section class="w-100 flex gap-2 max-md:flex-col max-md:*:w-full justify-content-center ">
<img src="{% static 's1.jpg' %}" class="w-[120px]  flex-grow  h-[150px]" alt="">
<img src="{% static 's2.jpg' %}" class="w-[120px] flex-grow   h-[150px]" alt="">
<img src="{% static 's3.jpg' %}" class="w-[120px] flex-grow   h-[150px]" alt="">
       </section>
  
 
</div>