
{% load static %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-primary">Testimonial</h6>
            <h1 class="mb-4">What Our Clients Say About Our Solar Solutions!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <div class="testimonial-img position-relative">
                    <img class="img-fluid rounded-circle mx-auto mb-5" src="https://t3.ftcdn.net/jpg/01/97/11/70/240_F_197117055_WC3XWtirsfhXnefmX2jka3C254XPGGic.jpg">
                    <div class="btn-square bg-primary rounded-circle">
                        <i class="fa fa-quote-left text-white"></i>
                    </div>
                </div>
                <div class="testimonial-text text-center rounded p-4">
                    <p>"Thanks to {{site.name}}, we’ve significantly reduced our energy costs! The installation was seamless, and their team was professional and knowledgeable about every aspect of solar energy."</p>
                    <h5 class="mb-1">mark stevens</h5>
                    <span class="fst-italic">Homeowner</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-img position-relative">
                    <img class="img-fluid rounded-circle mx-auto mb-5" src="https://t4.ftcdn.net/jpg/06/33/27/95/240_F_633279559_VdxhBuRNtw0AlxYxUoIfFxv9kpds2KDH.jpg">
                    <div class="btn-square bg-primary rounded-circle">
                        <i class="fa fa-quote-left text-white"></i>
                    </div>
                </div>
                <div class="testimonial-text text-center rounded p-4">
                    <p>"We’ve been using solar power for over a year now, and it’s been an amazing investment for our business. The team at {{site.name}} helped us design a system that meets our needs and saved us thousands!"</p>
                    <h5 class="mb-1">victor nil</h5>
                    <span class="fst-italic">Business Owner</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-img position-relative">
                    <img class="img-fluid rounded-circle mx-auto mb-5" src="https://t4.ftcdn.net/jpg/04/14/12/01/240_F_414120185_3CjkdyX8cyWZ0yPEukNce4lm6ldVXQJQ.jpg">
                    <div class="btn-square bg-primary rounded-circle">
                        <i class="fa fa-quote-left text-white"></i>
                    </div>
                </div>
                <div class="testimonial-text text-center rounded p-4">
                    <p>"The customer service from {{site.name}} was exceptional. They walked us through every step of the process, from consultation to installation, making our transition to solar energy smooth and stress-free."</p>
                    <h5 class="mb-1">Michael Taylor</h5>
                    <span class="fst-italic">Environmental Activist</span>
                </div>
            </div>
        </div>
    </div>
</div>
